<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <context:property-placeholder location="/spring/jdbc.properties,/spring/btm.properties"/>

    <import resource="classpath:spring/applicationContext-base.xml"/>

    <bean id="btmConfig" factory-method="getConfiguration" class="bitronix.tm.TransactionManagerServices">
        <property name="serverId" value="spring-btm"/>
        <property name="warnAboutZeroResourceTransaction" value="true"/>
        <property name="logPart1Filename" value="${btm.config.logpart1filename}"/>
        <property name="logPart2Filename" value="${btm.config.logpart2filename}"/>
        <property name="journal" value="${btm.config.journal:disk}"/>
    </bean>

    <bean id="jtaTransactionManager" factory-method="getTransactionManager"
          class="bitronix.tm.TransactionManagerServices" depends-on="btmConfig, dataSource"
          destroy-method="shutdown"/>

    <bean id="transactionManager" class="org.springframework.transaction.jta.JtaTransactionManager">
        <property name="transactionManager" ref="jtaTransactionManager"/>
        <property name="userTransaction" ref="jtaTransactionManager"/>
    </bean>

</beans>