<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <import resource="classpath:spring/applicationContext-xml-config.xml"/>

    <import resource="classpath:spring/applicationContext-local-resource.xml"/>

    <bean id="poolingDataSource" class="com.zaxxer.hikari.HikariDataSource" destroy-method="close">
        <property name="dataSourceClassName" value="${jdbc.dataSourceClassName}" />
        <property name="dataSourceProperties">
            <props>
                <prop key="url">${jdbc.url}</prop>
                <prop key="user">${jdbc.username}</prop>
                <prop key="password">${jdbc.password}</prop>
            </props>
        </property>
        <property name="maximumPoolSize" value="3"/>
        <property name="connectionTimeout" value="1000"/>
    </bean>

</beans>